/* geral */
body {
    margin: 0;
    background-color: #180c24;
    box-sizing: border-box;
}

body * {
    box-sizing: border-box;
}

/* container */
#main-login {
    width: 100vw;
    height: 100vh;
    font-family: Inter, Verdana;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* left */
#left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5rem;
}

#left-login > h1 {

    color: #FC0000;
    font-size: 3.3vw;
    font-weight: 900;
    line-height: 1.2em;
    text-align:center;
}

/* image */
#left-login > img {
    width: 39vw;
}
/* right */

#right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* card */
#card-login {
    width: 60%;
    background-color: #2f2841;
    padding: 30px 35px;
    border-radius: 20px;
    box-shadow: 0px 0px 21px 19px rgba(0,0,0,0.1);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#card-login > h1 {
    color: #FC0000;
    text-shadow: 0px 0px 17px rgba(252,0,0,0.88);
    letter-spacing: 5px;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.usuario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}

.usuario > label {
    color: #f0ffffde;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    font-size: 12pt;
    width: 100%;
    padding: 16px;
    border: 0;
    border-radius: 10px;
    background-color: #514869;
    box-shadow: 0px 0px 21px 19px rgba(0,0,0,0.1);
    outline: none;
    box-sizing: border-box;
}

.usuario > input::placeholder {
    color: #f0ffff94;
}

#btn-login {
    width: 100%;
    padding: 17px 0;
    margin: 25PX;
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;

    background-color: #FC0000;
    color: #FFFFFF;
    box-shadow: 0px 0px 45px -5px #FC0000;
    outline: none;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;

}

#btn-login:hover {
    background-color: #FFFFFF; 
    color: #FC0000;
    box-shadow: 0px 0px 45px -5px #FFFFFF;
    transition: 0.5s;
}
/* cadastro */
#sign-up {
    color: #FFFFFF;
    margin: 1rem;
    text-align: center;
}

#sign-up > a {
    color: #FC0000;
    text-decoration: none;
}

#sign-up > a:hover {
    color: #FFFFFF;
    transition: 0.5s;
}

/* footer */
#credits {
    color: #514869;
}

#credits a {
    color: #FC0000;
    text-decoration: none;
    transition: 0.5s;
}

#credits a:hover {
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s;
}

/* responsivo */
@media only screen and (max-width: 950px) {
    .card-login {
        width: 80%
    }
  }

@media only screen and (max-width: 600px) {
    #main-login {
        flex-direction: column;
    }

    #left-login > h1{
        display: none;
    }

    #left-login {
        width: 100%;
        height: 40%;
        margin-left: 0;
        margin-top: 90px;
    }

    #right-login {
        width: 100%;
        height: auto;
    }
    #card-login {
        width: 90%;
        height: 80%;
    }

    #card-login > h1 {
        margin-top: 40px;
    }
    #left-login > img {
        width: 50vw;
        margin-top: 70px;
    }
    #sign-up {
        text-align: center;
        margin-bottom: 40px;
        line-height: 1.5;
    }

    #credits {
        font-size: 10pt;
    }
}